<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home | Koala</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous"
    >
</head>
<body>
<nav class="navbar navbar-expand-lg" style="background-color: #dedede" th:fragment="navigation">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Koala</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="homeNavbarItem">
                    <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
                </li>

                <li class="profileNavbarItem">
                    <a class="nav-link active" aria-current="page" th:href="@{/profile/{username}(username=${username})}">Profile</a>
                </li>

                <li class="profileNavbarItem">
                    <a class="nav-link active" aria-current="page" th:href="@{/all-people}">People</a>
                </li>

                <li class="profileNavbarItem">
                    <a class="nav-link active" aria-current="page" th:href="@{/followers}">Followed</a>
                </li>

                <li class="profileNavbarItem">
                    <a class="nav-link active" aria-current="page" th:href="@{/articles/user-articles}">Your articles</a>
                </li>
            </ul>

            <form action="/articles/new" method="get" class="me-2">
                <button type="submit" class="btn btn-success">Create new article</button>
            </form>

            <form th:if="${requestURI == '/' || requestURI == '/articles/user-articles' || requestURI == '/all-people' || requestURI == '/followers'}" th:action="@{${searchRedirectionURI}}" class="d-flex" role="search" method="get">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="keyword">
                <button class="btn btn-primary" type="submit">Search</button>
            </form>

            <form action="/logout" method="get" class="ms-2">
                <button type="submit" class="btn btn-danger">Log out</button>
            </form>

        </div>
    </div>
</nav>
<br>
</body>
</html>